<section class="content invoice">
  <div class="row">
    <div class="col-xs-12">
      <div class="box-body table-responsive">
        <table class="table table-hover">
          <thead>
            <th>Título</th>
            <th class="action-table">
            <%= link_to new_work_process_path(@work_process), class:'btn btn-success'  do %>
              <span class="fa fa-plus"></span>
              Novo
            <% end %>
            </th>
          </thead>
          <tbody>
            <%= content_tag_for(:tr, @work_processes) do |work_process| %>
                              <td><%= work_process.name %></td>
                            <td>
                <%= edit_buttom(edit_work_process_path(work_process)) %>
                <%= destroy_buttom(work_process) %>
              </td>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

