<div class="col-md-3 col-sm-4">
  <!-- BOXES are complex enough to move the .box-header around.
  This is an example of having the box header within the box body -->
  <div class="box-header">
    <i class="fa fa-folder"></i>
    <h3 class="box-title">Diretórios</h3>
  </div>
  <%= link_to new_folder_path, class:'btn btn-primary btn-block'  do %>
    <span class="fa fa-plus"></span>
      Novo diretório
  <% end %>
  <!-- Navigation - folders-->
  <div style="margin-top: 15px;">
    <ul class="nav nav-pills nav-stacked">
      <li class="header"><i class="fa fa-folder-open"></i> Inicio </li>
      <% @folders.each do |folder| %>
        <li><%= link_to "<i class='fa fa-folder'></i> #{folder.name}</a>".html_safe, folder_path(folder) %></li>
      <% end %>

      <li><%= link_started(current_user) %></li>
    </ul>
  </div>
</div>

<!-- /.col (LEFT) -->
<div class="col-md-9 col-sm-8">
  <div class="row pad">
    <div class="col-sm-12 search-form">
      <ol class='breadcrumb'>
        <li><%= link_to '',root_path, class:"fa fa-home", title:'home' %></li>
        <%= render_breadcrumbs :tag => :li, :separator => "" %>
      </ol>
    </div>
  </div><!-- /.row -->

  <div class="table-responsive">
    <!-- THE MESSAGES -->
    <table class="table table-mailbox">
      <% @folder.documents.each do |document| %>
      <tr class="unread">
        <td class="small-col"><input type="checkbox" /></td>
        <td class="small-col"><i class='fa <%= document.icon %>'></i> </td>
        <td class="name"><%= document.name %></td>
        <td class="subject"><%= link_to document.name, document_path(document) %></td>
        <td class="time"><%= document.created_at.to_s_br %></td>
      </tr>
      <% end if @folder.present? %>
    </table>
  </div><!-- /.table-responsive -->
</div><!-- /.col (RIGHT) -->


