<section class="content invoice">
  <table class="table">
    <thead>
      <th>Nome</th>
      <th style="width: 15%;">
        <%= link_to new_folder_path(@folder), class:'btn btn-success'  do %>
          <span class="fa fa-plus"></span>
          Novo
        <% end if current_user.can?('folder:new') %>
      </th>
    </thead>

    <tbody>
      <% @folders.each do |folder| %>
      <tr>
        <td><%= folder.name %></td>
        <td>
          <%= show_buttom(folder_path(folder)) %>
          <%= edit_buttom(edit_folder_path(folder), "folder:edit") %>
          <%= destroy_buttom(folder, "folder:destroy") %>
        </td>
      </tr>
      <% end %>
    </tbody>

  </table>
</section>
