<div class="col-md-3 col-sm-4">

  <!-- BOXES are complex enough to move the .box-header around.
  This is an example of having the box header within the box body -->
  <div class="box-header">
    <i class="fa fa-folder"></i>
    <h3 class="box-title">Diretórios</h3>

    <ul class="pull-right dropdown">
        <a href="#" class="text-muted dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"><i class="fa fa-gear"></i></a>
        <ul class="dropdown-menu">
          <li role="presentation"><%= link_to "Documento", new_document_path(folder_id: @folder, id_to_redirect: @folder.id, current_folder_id:@folder.id) %></li>
          <li role="presentation"><%= link_to "Diretório", new_folder_path(folder_id: @folder, current_folder_id:@folder.id) %></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Processo</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Editar</a></li>
        </ul>
      </ul>
  </div>
  <%= button_new_document(@folder) %>
  <!-- Navigation - folders-->
  <div style="margin-top: 15px;">

    <ul class="nav nav-pills nav-stacked">
      <li class="header"><i class="fa fa-folder-open"></i> <%= @folder.name %></li>
      <li><%= link_to ".." , (@folder.parent_id.present?)? folder_path(@folder.parent) : root_path %></li>
      <% @folder.folders.each do |folder| %>
        <li><%= link_to "<i class='fa fa-folder'></i> #{folder.name}</a>".html_safe, folder_path(folder) %></li>
      <% end %>
      <%= li_empty %>
    </ul>
  </div>
</div>

<!-- /.col (LEFT) -->
<div class="col-md-9 col-sm-8">
  <div class="row pad">
    <div class="col-sm-12 search-form">
      <ol class='breadcrumb'>
        <li><%= link_to '',root_path, class:"fa fa-home", title:'home' %></li>
        <%= render_breadcrumbs :tag => :li, :separator => "" %>
      </ol>
    </div>
  </div><!-- /.row -->

  <div class="table-responsive">
    <!-- THE MESSAGES -->
    <table class="table table-hover">
      <% @documents.each do |document| %>
      <tr>
        <td class="small-col"><i class='fa <%= document.icon %>'></i> </td>
        <td class="name"><%= document.name %></td>
        <td class="subject"><%= link_to document.name, document_path(document) %></td>
        <td><%= status_badge(document.status) %></td>
        <td class="time"><%= document.created_at.to_s_br %></td>
      </tr>
      <% end if @folder.present? %>
    </table>
  </div><!-- /.table-responsive -->
</div><!-- /.col (RIGHT) -->


