<div class="row">
  <div class="col-xs-12">
    <!-- jQuery Knob -->
    <div class="box box-solid">
      <div class="box-header">
        <i class="fa fa-bar-chart-o"></i>
        <h3 class="box-title">Quantidade de registros</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-default btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 text-center">
            <div style="display: inline; width: 90px; height: 90px;">
            <%#= pie_chart({"1"=>@documents.count}, colors: ["pink", "#999"], discrete: true) %>
            <canvas width="90" height="90"></canvas>
            <input type="text" class="knob" value="<%= @documents.size %>" data-width="90" data-height="90" data-fgcolor="#3c8dbc" style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: -69px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 18px; line-height: normal; font-family: Arial; text-align: center; color: rgb(60, 141, 188); padding: 0px; -webkit-appearance: none; background: none;"></div>
            <div class="knob-label">Documentos</div>
          </div><!-- ./col -->
          <div class="col-md-3 col-sm-6 col-xs-6 text-center">
            <div style="display: inline; width: 90px; height: 90px;">
              <canvas width="90" height="90"></canvas>
              <input type="text" class="knob" value="<%= @folders.size %>" data-width="90" data-height="90" data-fgcolor="#f56954" style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: -69px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 18px; line-height: normal; font-family: Arial; text-align: center; color: rgb(245, 105, 84); padding: 0px; -webkit-appearance: none; background: none;">
            </div>
            <div class="knob-label">Diretórios</div>
          </div><!-- ./col -->
          <div class="col-md-3 col-sm-6 col-xs-6 text-center">
            <div style="display: inline; width: 90px; height: 90px;"><canvas width="90" height="90"></canvas>
            <input type="text" class="knob" value="<%= @users.size %>" data-min="-150" data-max="150" data-width="90" data-height="90" data-fgcolor="#00a65a" style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: -69px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 18px; line-height: normal; font-family: Arial; text-align: center; color: rgb(0, 166, 90); padding: 0px; -webkit-appearance: none; background: none;"></div>
            <div class="knob-label">Usuários</div>
          </div><!-- ./col -->
          <div class="col-md-3 col-sm-6 col-xs-6 text-center">
            <div style="display: inline; width: 90px; height: 90px;">
              <canvas width="90" height="90"></canvas>
              <input type="text" class="knob" value="<%= @user_groups.size %>" data-width="90" data-height="90" data-fgcolor="#00c0ef" style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: -69px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 18px; line-height: normal; font-family: Arial; text-align: center; color: rgb(0, 192, 239); padding: 0px; -webkit-appearance: none; background: none;"></div>
            <div class="knob-label">Grupos de usuários</div>
          </div><!-- ./col -->
        </div><!-- /.row -->

        <div class="row">
          <div class="col-xs-6 text-center">
            <div style="display: inline; width: 90px; height: 90px;"><canvas width="90" height="90"></canvas>
            <input type="text" class="knob" value="<%= @document_types.size %>" data-width="90" data-height="90" data-fgcolor="#932ab6" style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: -69px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 18px; line-height: normal; font-family: Arial; text-align: center; color: rgb(147, 42, 182); padding: 0px; -webkit-appearance: none; background: none;"></div>
            <div class="knob-label">Tipos de documentos</div>
          </div><!-- ./col -->
          <div class="col-xs-6 text-center">
            <div style="display: inline; width: 90px; height: 90px;"><canvas width="90" height="90"></canvas>
            <input type="text" class="knob" value="<%= @document_process.size %>" data-width="90" data-height="90" data-fgcolor="#39CCCC" style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: -69px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 18px; line-height: normal; font-family: Arial; text-align: center; color: rgb(57, 204, 204); padding: 0px; -webkit-appearance: none; background: none;"></div>
            <div class="knob-label">Processos</div>
          </div><!-- ./col -->
        </div><!-- /.row -->
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->
</div>

<div class="row">
  <div class="col-xs-12">
    <!-- jQuery Knob -->
    <div class="box box-solid">
      <div class="box-header">
        <i class="fa fa-bar-chart-o"></i>
        <h3 class="box-title">Documentos por tipo</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-default btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <%= bar_chart @document_for_type %>
      </div>
    </div>
  </div>
</div>
