<div class="box">
  <div class="box-header">
    <h3 class="box-title">Documentos cadastrados</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div id="example1_wrapper" class="dataTables_wrapper form-inline" role="grid">
    <div class="row">
      <div class="col-xs-3">
        <div id="example1_length" class="dataTables_length">
          <label>
            <select size="1" name="example1_length" aria-controls="example1">
              <option value="10" selected="selected">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
            registro por página
          </label>
        </div>
      </div>

      <div class="col-xs-9">
        <div class="dataTables_filter" id="example1_filter">
          <label>Documento: <input type="text" aria-controls="example1"></label>
          <label>Tipo: <input type="text" aria-controls="example1"></label>
          <label>Diretório: <input type="text" aria-controls="example1"></label>
          <label>Autor: <input type="text" aria-controls="example1"></label>
          <button class="btn btn-info btn-flat" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
    <table id="example1" class="table table-bordered table-striped dataTable" aria-describedby="example1_info">
      <thead>
        <tr role="row">
          <th>Documento</th>
          <th>Tipo</th>
          <th>Diretório</th>
          <th>Autor</th>
          <th>Validade</th>
        </tr>
      </thead>
        <tbody role="alert" aria-live="polite" aria-relevant="all">
          <% @documents.each do |document| %>
          <tr class="odd">
            <td class=" sorting_1"><%= document.name %></td>
            <td class=" "><%= document.document_type.name %></td>
            <td class=" "><%= document.folder.name %></td>
            <td class=" "><%= document.user.name %></td>
            <td class=" "><%= document.date_validity.to_s_br %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="row">
        <div class="col-xs-6">
          <div class="dataTables_info" id="example1_info">Showing 1 to 10 of 57 entries</div>
        </div>

        <div class="col-xs-6">
          <div class="dataTables_paginate paging_bootstrap">
            <ul class="pagination">
              <li class="prev disabled"><a href="#">← Previous</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li class="next"><a href="#">Next → </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.box-body -->
</div>
