<% content_for :content_header  do %>
  <%= render_breadcrumbs :tag => :li, :separator => "" %>
<% end %>

<section class="content invoice">
  <table class="table">
    <thead>
      <th>Nome</th>
      <th>Email</th>
      <th><%= link_to 'Novo', new_user_path, class:'btn btn-success' %></th>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <%= edit_buttom(edit_user_path(user)) %>
          <%= destroy_buttom(user) %>
        </td>
      </tr>
      <% end %>
    </tbody>

  </table>
</section>
