<section class="content invoice">
  <table class="table">
    <thead>
      <th>Nome</th>
      <th>Email</th>
      <th class="action-table">
        <%= link_to new_user_path(@user_group), class:'btn btn-success'  do %>
          <span class="fa fa-plus"></span>
          Novo
        <% end %>
      </th>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <%= edit_buttom(edit_user_path(user)) %>
          <%= destroy_buttom(user) %>
        </td>
      </tr>
      <% end %>
    </tbody>

  </table>
</section>
