
  <div class="col-md-3 col-sm-4">
    <!-- BOXES are complex enough to move the .box-header around.
    This is an example of having the box header within the box body -->
    <div class="box-header">
      <i class="fa <%= @document.icon %>"></i>
      <h3 class="box-title" title="<%= @document.name %>"> <%= truncate(@document.name, length: 20) %></h3>
    </div>
    <%= button_action %>

    <!-- Navigation - folders-->
    <div style="margin-top: 15px;">
      <ul class="nav nav-pills nav-stacked">
        <li class="header"><i class="fa fa-folder-open"></i> <%= @folder.name %></li>
        <li><%= link_to ".." , root_path(current_folder_id: @folder.id) if @folder.present? %></li>
        <% @folder.documents.each do |document| %>
          <li><%= link_to "<i class='fa #{document.icon}'></i> #{document.name}</a>".html_safe, document_path(document) %></li>
        <% end %>
        <li><a href="#"><i class="fa fa-star"></i> Starred</a></li>
      </ul>
    </div>
  </div>


<div class="col-md-9 col-sm-8">
  <div class="row pad">
    <div class="col-sm-4">
      <!-- Action button -->

    </div>
    <div class="col-sm-8 search-form">
      <ol class='breadcrumb'>
        <li><%= link_to '',root_path, class:"fa fa-home", title:'home' %></li>
        <%= render_breadcrumbs :tag => :li, :separator => "" %>
      </ol>
    </div>
  </div><!-- /.row -->

  <div class="table-responsive">
    <!-- THE MESSAGES -->

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab_1" data-toggle="tab">Documento inline</a></li>
      <li><a href="#info" data-toggle="tab">Informações</a></li>
      <li><a href="#tab_3" data-toggle="tab">Histórico</a></li>
      <li><a href="#versions" data-toggle="tab">Versões</a></li>
      <li class="pull-right header">

      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="tab_1">
        <%= render partial:"view_pdf" %>
      </div>
      <div class="tab-pane" id="info">
        <b>Status:</b>
        <p><%= status_badge(@document.status) %></p>

        <b>Titulo:</b>
        <p><%= @document.name %></p>

        <b>Tipo:</b>
        <p><%= @document.document_type.name %></p>

        <b>Validade:</b>
        <p><%= @document.date_validity.to_s_br %></p>

        <b>Autor/Responsável:</b>
        <p><%= @document.user.name %></p>

        <b>Documento:</b>
        <p><%= link_to_download %></p>
      </div>
      <div class="tab-pane" id="tab_3">
        <table class="table">
          <thead>
            <th>Ação</th>
            <th>Usuário</th>
            <th>Data</th>
          </thead>
          <tbody>
            <% @document.document_histories.each do |history| %>
              <tr>
                <td><%= history.action %></td>
                <td><%= history.user.name %></td>
                <td><%= history.created_at.to_s_br %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="tab-pane" id="versions">
        <table class="table">
          <thead>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Data</th>
          </thead>
          <tbody>
            <% @document.versions.order(id: :desc).each do |version| %>
              <tr>
                <td><%= version.name %></td>
                <td><%= User.find(version.user_id).name %></td>
                <td><%= version.created_at %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>



  </div><!-- /.table-responsive -->
</div><!-- /.col (RIGHT) -->






