<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box-body table-responsive">
        <table class="table table-hover">
          <thead>
                          <th>Notification period</th>
                        <th class="action-table">
              <%= link_to new_sistem_configuration_path(@sistem_configuration), class:'btn btn-success'  do %>
                <span class="fa fa-plus"></span>
                  Novo
              <% end %>
            </th>
          </thead>
          <tbody>
            <%= content_tag_for(:tr, @sistem_configurations) do |sistem_configuration| %>
                              <td><%= sistem_configuration.notification_period %></td>
                            <td>
                <%= edit_buttom(edit_sistem_configuration_path(sistem_configuration)) %>
                <%= destroy_buttom(sistem_configuration) %>
              </td>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

