<aside class="left-side sidebar-offcanvas">
<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left info">
      <p>Olá, <%= current_user.name %></p>

      <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
  </div>
  <!-- search form -->
  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Busca..."/>
      <span class="input-group-btn">
        <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </form>
  <!-- /.search form -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <%= treeview_link 'Criar novo' do %>
      <%= nav_link "#" do %>
        <i class="fa fa-angle-double-right"></i>
        Novo documento
      <% end %>
      <%= nav_link "#" do %>
        <i class="fa fa-angle-double-right"></i>
        Novo processo
      <% end %>
      <%= admin_link(users_path,"Novo usuário") %>
      <%= admin_link(user_groups_path,"Novo Grupo de usuário") %>
    <% end %>

    <%= treeview_link '<i class="fa fa-folder"></i> Documentos'.html_safe do %>

    <% end %>

    <%= treeview_link '<i class="fa fa-star"></i> Favoritos'.html_safe do %>

    <% end %>
  </ul>
</section>
</aside>
