<header class="header">
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" style="margin-left: 0;">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "GED", root_path, class:"logo"%>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastros <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= admin_link(documents_path,"Documento") if current_user.can?('document:index') %></li>
            <li><%= admin_link(folders_path,"Diretório") if current_user.can?('folder:index') %></li>
            <li><%= admin_link(document_types_path,"Tipo de documento") if current_user.can?('document_type:index') %></li>
            <li><%= admin_link(document_processes_path,"Processo") if current_user.can?('document_process:index') %></li>
            <li><%= admin_link(users_path,"Usuário") if current_user.can?('user:index') %></li>
            <li><%= admin_link(user_groups_path,"Grupo de usuário") if current_user.can?('user_group:index') %></li>
          </ul>
        </li>
      </ul>

      <%= form_tag(homepages_path, {:method=>:get, :id => 'busca_global', :class=>"navbar-form navbar-left", :role=>"search" }) do %>
        <%= select_tag :folder_id, options_for_select([["<i class='fa'> &#xf07b; D</i>".html_safe, session[:current_folder_id]] ]), {:include_blank=>"<i class='fa'> &#Xf0ac;G </i>".html_safe, :class=>"form-control input-group"} %>
        <%= select_tag :tag, options_for_select([["Autor","autor"], ["Tag", "tag"], ["Titulo", "titulo"], ["Diretório", "diretorio"]], params[:tag]), {:include_blank=>"default", :class=>"form-control input-group"} %>

        <div class="input-group pull-right">
          <%= text_field_tag :search_text, params[:search_text], :class=>"form-control", :placeholder=>"busca" %>
          <span class="input-group-btn" style="width: 0;">
            <button type="submit" class="btn btn-default ladda-button" data-style='zoom-out' data-spinner-color='#000'><span class="ladda-label">Buscar</span></button>
          </span>
        </div>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown messages-menu">
          <%= link_to vencimento_notifications_path ,title:"Vencimentos" do %>
            <i class="fa fa-calendar"></i>
            <%= content_tag(:span, @vencimentos, class: "label label-warning") if @vencimentos>0 %>
          <% end %>
        </li>
        <li class="dropdown messages-menu">
          <%= link_to checkout_notifications_path ,title:"Documento aguardando validação" do %>
            <i class="fa fa-file"></i>
            <%= content_tag(:span, @checkouts, class: "label label-danger") if @checkouts>0 %>
          <% end %>
        </li>
        <li class="dropdown messages-menu">
          <%= link_to notification_notifications_path ,title:"Notificações" do %>
            <i class="fa fa-envelope"></i>
            <%= content_tag(:span, @notifications, class: "label label-success") if @notifications >0 %>
          <% end %>
          <ul class="dropdown-menu">
            <li class="header">You have 4 messages</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li><!-- start message -->
                  <a href="#">
                    <div class="pull-left">
                      <img src="/img/avatar3.png" class="img-circle" alt="User Image"/>
                    </div>
                    <h4>
                      Support Team
                      <small><i class="fa fa-clock-o"></i> 5 mins</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li><!-- end message -->
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="/img/avatar2.png" class="img-circle" alt="user image"/>
                    </div>
                    <h4>
                      AdminLTE Design Team
                      <small><i class="fa fa-clock-o"></i> 2 hours</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="/img/avatar.png" class="img-circle" alt="user image"/>
                    </div>
                    <h4>
                      Developers
                      <small><i class="fa fa-clock-o"></i> Today</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="/img/avatar2.png" class="img-circle" alt="user image"/>
                    </div>
                    <h4>
                      Sales Department
                      <small><i class="fa fa-clock-o"></i> Yesterday</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="/img/avatar.png" class="img-circle" alt="user image"/>
                    </div>
                    <h4>
                      Reviewers
                      <small><i class="fa fa-clock-o"></i> 2 days</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a href="#">See All Messages</a></li>
          </ul>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-user"></i>
            <span><%= current_user.name %> <i class="caret"></i></span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header bg-light-blue">
              <img src="/img/avatar3.png" class="img-circle" alt="User Image" />
              <p>
                <%= current_user.name %>
                <small>Membro desde: <%= current_user.created_at.to_s_br %></small>
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="col-xs-6 text-center">
                <%= link_to('Relatórios', statistics_path, :class=>'') %>
              </div>

              <div class="col-xs-6 text-center">
                <%= link_to('Administração', sistem_configurations_path, :class=>'') %>
              </div>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <%= link_to('Conta', edit_user_registration_path, :class=>'btn btn-default btn-flat') %>
              </div>

              <div class="pull-right">
                <%= link_to('Sair', destroy_user_session_path, :method => :delete, :class=>'btn btn-default btn-flat') %>
              </div>
            </li>
          </ul>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
</header>
