<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>GED</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
    <![endif]-->



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'assets/pdfjs/compatibility-*.js', 'assets/pdfjs/pdf-*.js' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="skin-blue" data-controller="<%= controller.controller_name %>"  data-action="<%= controller.action_name %>" >
    <%= render "layouts/application_header" %>
    <div class="wrapper row-offcanvas row-offcanvas-left">

    <div class='row'>
      <!-- Content Header (Page header) -->
      <% flash.each do |name, msg| %>
      <div class="no-margin">
        <div style="margin-bottom: 0px; border-radius: 0;" class="alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissable" role = "alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
          <%= msg %>
        </div>
      </div>
      <% end %>

      <section class="content">
        <!-- MAILBOX BEGIN -->
        <div class="mailbox row">
          <div class="col-xs-12">
            <div class="box box-solid">
              <div class="box-body">
                <div class="row">
                  <%= yield %>
                </div><!-- /.row -->
              </div><!-- /.box-body -->
              <div class="box-footer clearfix">
                <% if @documents %>
                  <div class="pull-right">
                    <small><%= page_entries_info @documents  %></small>
                    <%= will_paginate @documents, renderer: BootstrapPagination::Rails %>
                  </div>
                <% end %>
              </div><!-- box-footer -->
            </div><!-- /.box -->
          </div><!-- /.col (MAIN) -->
        </div>
        <!-- MAILBOX END -->
      </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
    </div><!-- ./wrapper -->

    </div>

    </div>

      <div class="spinner no-print hidden">
        <img src="/img/ajax-loader.gif" alt="">
      </div>
  </body>
</html>
